/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                /* ------- Base: 4x5 numpad -------
                 *  |  Tab |   /   |   *   |   -   |
                 *  |   7  |   8   |   9   |   +   |
                 *  |   4  |   5   |   6   |   +   |
                 *  |   1  |   2   |   3   | Enter |
                 *  |   0  |   0   |   .   | Enter |
                 */
                default_layer {
                        display-name = "Base";
                        bindings = <
                                &kp TAB           &kp KP_DIVIDE    &kp KP_MULTIPLY &kp KP_MINUS

                                &kp KP_7          &kp KP_8         &kp KP_9        &kp KP_PLUS

                                &kp KP_4          &kp KP_5         &kp KP_6        &kp KP_PLUS

                                &kp KP_1          &kp KP_2         &kp KP_3        &kp KP_ENTER

                                &kp KP_0          &kp KP_0         &kp KP_DOT      &kp KP_ENTER
                        >;
                };

                /* ------- Lower: navigation / Bluetooth / editing -------
                 *  | BTCLR| Home |  Up  | PgUp |
                 *  | BT1  | Left | Down | Rght |
                 *  | BT2  |  End | Ins  | Del  |
                 *  | BT3  |      |      |      |
                 *  | LWR  |      |      |      |
                 */
                lower_layer {
                        display-name = "Lower";
                        bindings = <
                                &bt BT_CLR        &kp HOME         &kp UP          &kp PG_UP
                                &bt BT_SEL 0      &kp LEFT         &kp DOWN        &kp RIGHT
                                &bt BT_SEL 1      &kp END          &kp INS         &kp DEL
                                &bt BT_SEL 2      &trans           &trans          &trans
                                &mo 1             &trans           &trans          &trans
                        >;
                };

                /* ------- Raise: symbols / F-keys -------
                 *  |  Esc |  F1  |  F2  |  F3  |
                 *  |  F4  |  F5  |  F6  |  F7  |
                 *  |  F8  |  F9  |  F10 |  F11 |
                 *  |  F12 |  (   |  )   |  =   |
                 *  |  RSE |  -   |  _   |  `   |
                 */
                raise_layer {
                        display-name = "Raise";
                        bindings = <
                                &kp ESC           &kp F1           &kp F2          &kp F3
                                &kp F4            &kp F5           &kp F6          &kp F7
                                &kp F8            &kp F9           &kp F10         &kp F11
                                &kp F12           &kp LPAR         &kp RPAR        &kp EQUAL
                                &mo 2             &kp MINUS        &kp UNDER       &kp GRAVE
                        >;
                };

                /* keep these reserved if your shield expects them */
                extra_1 { status = "reserved"; };
                extra_2 { status = "reserved"; };
                extra_3 { status = "reserved"; };
        };
};
